.spin {
  position: fixed;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  z-index: 999;
  backdrop-filter: blur(3px);
}

.analyze {
  height: 100%;
  width: 100%;
  background-color: #f4f5fb;
  padding-top: 17px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom:10px;

  .toparea {
    width: 85%;
    height: 102.47px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    .topareabox {
      width: 24%;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      .leftarea {
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5%;

        img {
          width: 40px;
          height: 40px;
        }
      }

      .rightarea {
        width: 65%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .title {
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 0.36px;
          line-height: 16.46px;
          color: rgba(79, 84, 112, 1);
          text-align: left;
        }

        .value {
          margin-top: 3px;
          font-size: 20px;
          font-weight: 500;
          letter-spacing: 0.6px;
          line-height: 23.44px;
          color: rgba(0, 0, 0, 1);
        }
      }


    }
  }

  .middlearea {
    height: 317.33px;
    width: 98%;
    margin: 0 auto;
    margin-top: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .middleareabox {
      width: 48%;
      height: 100%;
      background-color: white;
      margin-left: 2%;
      .spin2 {
          width: 100%;
          margin: 0 auto;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.5);
          display: flex;
          align-items: center;
          z-index: 999;
          backdrop-filter: blur(3px);
        }
      .middleareaboxtop {
        height: 30px;
        width: 95%;
        margin: 0 auto;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0px;
          line-height: 19.21px;
          color: rgba(32, 35, 50, 1);
          text-align: left;
        }

        .more {
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 1px;
          line-height: 16.46px;
          color: rgba(72, 118, 255, 1);
          cursor: pointer;
        }
      }

      .middleareaboxbottom {
        height: calc(100% - 30px);
        width: 95%;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 10px;
        box-sizing: border-box;
      }
    }
  }

  .anabottomarea {
    height: 290px;
    width: 95%;
    margin: 0 auto;
    margin-top: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    .bottomareabox {
      width: 31%;
      height: 100%;
      background-color: white;

      .middleareaboxtop {
        height: 30px;
        width: 95%;
        margin: 0 auto;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0px;
          line-height: 19.21px;
          color: rgba(32, 35, 50, 1);
          text-align: left;
        }

        .more {
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 1px;
          line-height: 16.46px;
          color: rgba(72, 118, 255, 1);
          cursor: pointer;
        }
      }

      .middleareaboxbottom {
        height: calc(100% - 30px);
        width: 95%;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 10px;
        box-sizing: border-box;
        overflow: visible;

        .container {
          overflow: visible;
        }
      }
    }

    img {
      width: 31%;
      height: 100%;
      object-fit: contain;
    }
  }
}